.page {
    margin: 50px;
    background-color: beige;
    box-shadow: 10px 10px 5px 5px #aaaaaa;
}

.page h2 {
    text-align: center;
    padding-top: 20px;
}

.progress {
    background-color:lightcoral;
    height: 30px;
}

.progress-bar{
    background-color: lightgreen;
}

#exhange1 {
    padding-left: 50px;
    padding-right: 50px;
}

#bar {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
    